@import "mixins";

.wrapper {
  @include flex(space-between);

  @include mobile {
    margin-top: 40px;
  }

  @include desktop {
    margin-top: 60px;
  }
}

.item + .item {
  @include mobile {
    margin-top: 16px;
  }

  @include desktop {
    margin-top: 20px;
  }
}

.header {
  @include flex(flex-start);
}

.label {
  color: $white-44;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.square {
  width: 7px;
  height: 7px;
  margin-right: 6px;
}

.value {
  margin-left: (7px + 6px);

  color: $white-92;
  font-size: 14px;
}

.chart {
  @include mobile {
    width: 170px;
    height: 170px;
  }

  @include desktop {
    width: 200px;
    height: 200px;
  }
}
