@import "mixins";

.asset {
  @include flex(flex-start);

  .title {
    margin-left: 12px;
  }

  .symbol {
    color: $white-92;
    font-size: 16px;
    font-weight: 500;
  }

  .name {
    color: $white-44;
    font-size: 12px;
    font-weight: 500;
  }
}
