@import "mixins";
@import "variables";

$symbol: 14px;
$name: 12px;
$line-height: 1.5;

.asset {
  @include flex(space-between);
  // Because only one line of data can exist, fix the height.
  height: (($symbol + $name) * $line-height);
}

.header {
  text-align: left;
}

.symbol {
  font-size: $symbol;
  font-weight: 500;
}

.name {
  color: $gray-34;
  font-size: $name;
  font-weight: normal;
}

.footer {
  text-align: right;
}

.balance {
  @include flex;

  color: $white-44;
  font-size: 12px;
  font-weight: 500;

  svg {
    fill: $blue;
    margin-right: 6px;
  }
}
