@import "mixins";
@import "variables";

.wrapper {
  background-color: $gray-14;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.row {
  @include flex(space-between);
  padding: 10px 0;
}

.title,
.content {
  color: $white-92;
  font-size: 16px;
  font-weight: normal;

  .children & {
    color: $white-52;
    font-size: 12px;
    font-weight: normal;
  }
}

.footer {
  margin-top: 40px;
}
