@import "mixins";
@import "variables";

$radius: 10px;

.tabs {
  @include flex(flex-start);
  background: $gray-14;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 16px;
}

.tab {
  @include flex;
  @include link;

  border-right: 1px solid $bg;
  color: $gray-34;
  font-size: 14px;
  letter-spacing: -0.2px;

  width: 112px;
  height: 60px;

  &.active {
    background: $gray-18;
    color: $white-80;
  }
}
