@import "mixins";

$padding: 20px;

.wrapper {
  width: 100%;
  overflow-x: scroll;
}

.radius {
  border-radius: 16px;
}

.margin {
  margin-top: 20px;
}

.cell {
  background-color: $gray-18;
  color: $white-80;
  padding: $padding;
  white-space: nowrap;
}

.darker,
.darker .cell {
  background-color: $gray-14;
}

.clickable,
.clickable .cell {
  @include transition(background-color);
}

.clickable:hover,
.clickable:hover .cell {
  cursor: pointer;
  background-color: $gray-22;
}

.caption {
  background: $gray-14;
  border-bottom: 1px solid $bg;
  color: $blue;
  font-size: 14px;
  font-weight: 500;
  padding: $padding;
}

.th {
  background-color: $gray-14;
  color: $white-44;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;

  .colspan & {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    text-align: center;
  }
}

.td {
  @include mobile {
    border-top: 1px solid $bg;
  }

  @include desktop {
    border-top: 2px solid $bg;
  }

  letter-spacing: -0.3px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fixed-left {
  @include desktop {
    position: sticky;
    left: 0;
  }
}

.fixed-right {
  @include desktop {
    position: sticky;
    right: 0;
  }
}

.narrow-left {
  padding-left: 5px;
}

.narrow-right {
  padding-right: 5px;
}

/* color */
.red {
  background-color: fade-out($red, 0.92);
}

.bold {
  color: white;
  font-weight: 500;
}

.sub {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: $white-44;
  margin-top: 2px;
}

/* border */
.border-left {
  border-left: $border;
}

.border-right {
  border-right: $border;
}
