@import "mixins";
@import "variables";

.success {
  color: $blue;
}

.failure {
  color: $red;
}

.hash {
  color: $white-44;
  font-size: 12px;
  text-align: center;
}

.feedback {
  text-align: center;
  margin: 20px 0 40px;
}
