@import "mixins";

.header {
  @include flex;

  @include mobile {
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-end;
  }
}

.item {
  @include flex;

  @include mobile {
    height: $header-height-mobile;
    padding: 0 $gutter-horizontal-mobile;
  }

  @include desktop {
    height: $header-height-desktop;
    padding: 0 $gutter-horizontal-desktop;
  }
}

.docs svg {
  fill: $white-52;
}
